
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg,#000000,#202020);
    overflow: hidden;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100px;
    width: 430px;
    gap: 40px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 37%;
    z-index: 99999;
}
@font-face {
    font-family: "Cal-sans";
    src: url(./Fonts/CalSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poiret-one";
    src: url(./Fonts/PoiretOne-Regular.ttf) format("truetype");
}
.Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";
}
.Text-1{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-1:hover{
    transform: scale(1.2) perspective(500px) rotateY(26deg);
    
}
.Text-2:hover{
    transform: scale(1.2) perspective(500px) rotateY(-26deg);
    
}
.Text-3:hover{
    transform: scale(1.2) perspective(500px) rotateY(36deg);
    
}
.Home-button-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 15px;
  box-shadow: inset 0 0 0 1px #BBBBBB ,
               0 0 10px rgba(255, 255, 255, 0.3)
  ;
  top:18% ;
  left: 80%;
  height: 50px;
  width: 50px;
  background: #000000;
  z-index: 99999;
  animation: bounce-1 1.4s ease infinite;
}

@keyframes bounce-1{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.Icon-home{
width: 30px;
height: 30px;
}
.About-txt-container{
    position: relative;
    top: -12%;
    left: 3%;
}

.About-txt-container p{
    color: #FFFFFF;
    font-size: 80px;
    font-family: "Cal-sans";
}
.Bio-container{
    height: 260px;
    display: flex;
    width: 450px;
    background: linear-gradient(190deg,#0a0a0a,#080808);
    box-shadow: inset 0 0 0 0.8px #BBBBBB;
    border-radius: 35px;
    position: relative;
    left: 2.5%;
    bottom: 22%;
}
.Selfie-image{
    height: 90px;
    width: 90px;
    border-radius: 90px;
    position: relative;
    left: 4%;
    top: 22%;
}

.Bio-text-container{
    position: relative;
    left: 6%;
    top: 7%;
}
.Bio-text-container p{
     font-size: 21px;
     color: #FFFFFF;
     font-family: "Red Hat Text", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}
.Social-media-container{
    height: 120px;
    width: 580px;
    background: linear-gradient(190deg,#0a0a0a,#080808);
    box-shadow: inset 0 0 0 0.8px #BBBBBB;
    border-radius: 35px;
    position: relative;
    bottom: 57%;
    left: 37%;
}
.Social-media-txt{
    position: relative;
    left: 4%;
    top: 34%;
    font-family: "Cal-sans";
    font-size: 22px;
    color: #FFFFFF;
}
.Break-line-social{
      border: none;
  height: 0.4px;       
  width: 10%;         
  background: #ccc;    
  border-radius: 2px;  
  transform: rotate(90deg);
  position: relative;
  right: 22%;
  top: 3%;
}
.Instagram-icon{
    height: 45px;
    width: 45px;
    position: relative;
    left: 30%;
    bottom: 22%;
}
.Instagram-txt{
    color: #BBBBBB;
   font-family:"Poiret-one";
   font-size: 20px;
   position: relative;
   bottom: 36%;
   left: 30%;
   text-decoration: none;
}

.Behance-icon{
    height: 36px;
    width: 36px;
    position: relative;
    left: 32%;
    bottom: 26%;
}

.Behance-txt{
    color: #BBBBBB;
    font-size: 20px;
    font-family:"Poiret-one";
    text-decoration: none;
    position: relative;
    bottom: 36%;
    left: 34%;
}
.Intrest-container{
    height: 115px;
    width: 580px;
    background: linear-gradient(190deg,#0a0a0a,#080808);
    box-shadow: inset 0 0 0 0.8px #BBBBBB;
    position: relative;
    bottom: 57%;
    left: 37%;
    border-radius: 35px;
}
.Intrest-txt{
position: relative;
    left: 4%;
    top: 34%;
    font-family: "Cal-sans";
    font-size: 25px;
    color: #FFFFFF;
}
.Break-line-Interest{
       border: none;
  height: 0.4px;       
  width: 10%;         
  background: #ccc;    
  border-radius: 2px;  
  transform: rotate(90deg);
  position: relative;
  right: 27%;
  top: 1%;
}
 
.flex-wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 15px;
    position: relative;
    left: 25%;
    bottom: 20%;
}
.Reading-box{
    height: 35px;
    width: 120px;
    border-radius: 50px;
    background: #1a1a1a;
}
.Book-icon{
    height: 20px;
    width: 20px;
    position: relative;
    left: 12%;
    top: 16%;
}
.Reading-box p{
    position: relative;
    left: 35%;
    bottom: 117%;
    color: #BBBBBB;
    font-size: 20px;
    font-family:"Poiret-one";
}
.Gaming-box{ 
    height: 35px;
    width: 128px;
    border-radius: 50px;
    background: #1a1a1a;
}
.Controller-icon{
    height: 23px;
    width: 23px;
    position: relative;
    left: 12%;
    top: 16%;
}
.Gaming-box p{
    position: relative;
    left: 38%;
    bottom: 124%;
    color: #BBBBBB;
    font-size: 20px;
    font-family:"Poiret-one";
}
.Volleyball-box{
    height: 35px;
    width: 140px;
    border-radius: 50px;
    background: #1a1a1a;
}
.Volleball-icon{
    height: 22px;
    width: 22px;
    position: relative;
    left: 12%;
    top: 16%;
}
.Volleyball-box p{
    position: relative;
    left: 32%;
    bottom: 120%;
    color: #BBBBBB;
    font-size: 20px;
    font-family:"Poiret-one";
}

.Experience-container{
    height: 180px;
    display: flex;
    width: 450px;
    background: linear-gradient(190deg,#0a0a0a,#080808);
    box-shadow: inset 0 0 0 0.8px #BBBBBB;
    border-radius: 35px;
    position: relative;
    left: 2.5%;
    bottom: 55%;
}
.Exp-txt{
     color: #FFFFFF;
    font-family: "Cal-sans";
    font-size: 28px;
    left: 4%;
    top: -6%;
    position: relative;
}
.Edutec-logo{
    height: 70px ;
    width: 70px;
    position: relative;
    right: 29%;
    top: 35%;
}
.Edutec-txt{
  font-family: "Cal-sans";
  font-size: 19px;
  color: #FFFFFF;
  position: relative;
  right: 32%;
  top: 27%;
  white-space: nowrap;
}
.Job-title{
    color: #c5c5c5;
    font-size: 18px;
    font-family:"Poiret-one";
    white-space: nowrap;
    position: relative;
    right: 58%;
    top: 42%;
}
.Job-duration{
    color: #c5c5c5;
    font-size: 15px;
    font-family:"Poiret-one";
    white-space: nowrap;
    position: relative;
    right: 113%;
    top: 56%;
}

.contacts-container{
     height: 115px;
    display: flex;
    width: 580px;
    background: linear-gradient(190deg,#0a0a0a,#080808);
    box-shadow: inset 0 0 0 0.8px #BBBBBB;
    border-radius: 35px;
    position: relative;
    left: 37.1%;
    bottom: 70%;
}
.Contacts-txt{
    position: relative;
    left: 4%;
    top: 22%;
    font-family: "Cal-sans";
    font-size: 22px;
    color: #FFFFFF;
}
.Break-line-contact{
  border: none;
  height: 0.4px;       
  width: 10%;         
  background: #ccc;    
  border-radius: 2px;  
  transform: rotate(90deg);
  position: relative;
  right: 3%;
  top: 42%;
}
.Whatsapp-icon{
    height: 45px;
    width: 45px;
    position: relative;
    right: 10%;
    top: 28%;
}
.Phone-txt{
    position: relative;
    font-family:"Poiret-one";
    color: #c5c5c5;
    font-size: 16px;
    right: 8%;
    top: 25%;
}
.Gmail-icon-contacts{
    height: 45px;
    width: 45px;
    position: relative;
    right: 4%;
    top: 24%;
}
.Email-txt{
    font-family:"Poiret-one";
    color: #c5c5c5;
    font-size: 18px;
    position: relative;
    right: 2%;
    top: 23%;
}
.Facts-container{
    height: 150px;
    display: flex;
    width: 580px;
    background: linear-gradient(190deg,#0a0a0a,#080808);
    box-shadow: inset 0 0 0 0.8px #BBBBBB;
    border-radius: 35px;
    position: relative;
    bottom: 65%;
    
}



























@media(max-width:600px){
        .nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:90px;
    width: 280px;
    gap: 20px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 11%;
    z-index: 99999;

    
 }
 .Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";

}
.Text-1{
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
}