@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body,html{
    height: 100%;
    display:grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-snap-type:  y mandatory;
    overflow-y: scroll; 
    scroll-behavior: smooth;

}
body::-webkit-scrollbar{
    width: 0.4vw;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(#a3a3a3,#1a1a1a);
}
body::-webkit-scrollbar-track{
    background-color: #0e0e0e;
}
#vanta-bg{

  width: 100%;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
}
section{
    height: 100vh;
    scroll-snap-align: start;
}
.First-Page{
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    perspective: 10px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100px;
    width: 430px;
    gap: 40px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 37%;
    z-index: 99999;

    

}

@font-face {
    font-family: "Cal-sans";
    src: url(./Fonts/CalSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poiret-one";
    src: url(./Fonts/PoiretOne-Regular.ttf) format("truetype");
}

.Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";

}
.Text-1{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-1:hover{
    transform: scale(1.2) perspective(500px) rotateY(26deg);
    
}
.Text-2:hover{
    transform: scale(1.2) perspective(500px) rotateY(-26deg);
    
}
.Text-3:hover{
    transform: scale(1.2) perspective(500px) rotateY(36deg);
    
}
.Hello-txt-container{
    position: relative;
    margin-left: 60px;
    margin-top: 130px;
    
}
.Hello-txt-container p{
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Poiret-one";

}

.Name-txt-container p{
    color: #FFFFFF;
    font-size: 130px;
    font-family: "Cal-sans";

}
.Name-txt{
    margin-left: 59px;
    position: absolute;
    top: 5%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
    
}
.Surname-txt{
    margin-left: 59px;
    position: absolute;
    top: 20%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
}   

.Icon-container{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5%;
    gap: 25px;
    left: 85%;
    z-index: 99999;


}
.Gmail-icon img{
    height: 28px;
    width: 38px;
    
}
.Linkedin-icon img{
    height: 32px;
    width: 38px;
}
.Github-icon img{
    position: absolute;
    top: -19%;
    height: 45px;
    width: 45px;
}

.Gmail-icon:hover{
   animation: bounce 0.8s ease-in-out infinite;
}
.Linkedin-icon:hover{
    animation: bounce 0.8s ease-in-out infinite;
}
.Github-icon:hover{
    animation: bounce 0.8s ease-in-out infinite;
}

@keyframes bounce{
    0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-12px); }
}
.toast{
    position: fixed;
    left: 700px;
    visibility: hidden;
    opacity: 0;
    height: 50px;
    width: 150px;
    text-align: center;
    box-shadow: inset 0 0 0 0.1px rgb(255, 255, 255);
    border-radius: 18px;
    font-family: "Cal-sans";
    background: rgb(13, 13, 13,0.6);
    color: #ffffff;
    font-size: 19px;
    border: 1px solid;
    margin-top: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: opacity 0.4s ease-in-out; 
    z-index: 9999;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
 .toast.show {
    visibility: visible;
    opacity: 1;
 }
 .Web-txt-container{
    height: 65px;
    width: 235px;
    background-color: rgb(11, 11, 11,0.55);
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 460px;
    left: 60px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

 }
 .UI-txt-container{
    height: 65px;
    width: 235px;
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 460px;
    left: 330px;
    background-color: rgb(11, 11, 11,0.55);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 }
 .Graphic-txt-container{
    height: 65px;
    width: 235px;
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 460px;
    left: 605px;
     background-color: rgb(11, 11, 11,0.55);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 } 
 

 .scroll-txt img{
    position: fixed;
    left: 60px;
    top: 692px;
    height: 30px;
    width: 40px;
    animation: bouncing-down 0.8s ease-in-out infinite;

 }

 @keyframes bouncing-down{
     0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-12px); }
 }
 @media (max-width:600px){
    #vanta-bg{
        display: none;
  
}
.First-Page{
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    perspective: 10px;
    background: linear-gradient(19deg,#0e0e0e,#3c3c3c);
}
    body{
        font-size: 12px;
    }
    .nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:90px;
    width: 260px;
    gap: 20px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 11%;
    z-index: 99999;

    
 }
 .Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";

}
.Text-1{
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Hello-txt-container{
    position: relative;
    margin-left: 45px;
    margin-top: 130px;
    
}
.Hello-txt-container p{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Poiret-one";

}

.Name-txt-container p{
    color: #FFFFFF;
    font-size: 70px;
    font-family: "Cal-sans";

}
.Name-txt{
    margin-left: 47px;
    position: absolute;
    top: 10%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
    
}
.Surname-txt{
    margin-left: 47px;
    position: absolute;
    top: 27%;
     text-shadow: 0 0 5px rgb(0, 0, 0),
               0 0 10px rgb(12, 12, 12),
               0 0 20px rgb(9, 9, 9),
               0 0 40px rgb(41, 41, 41);
    
}

.Icon-container{
  display: none;

}
.Web-txt-container{
    height: 34px;
    width: 135px;
    background-color: rgb(11, 11, 11,0.55);
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 320px;
    left: 42px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

 }
 .UI-txt-container{
    height: 34px;
    width: 135px;
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 321px;
    left: 200px;
    background-color: rgb(11, 11, 11,0.55);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 }
 .Graphic-txt-container{
    height: 34px;
    width: 135px;
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 370px;
    left: 42px;
     background-color: rgb(11, 11, 11,0.55);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 } 


}




 @media (max-width:600px){
    #vanta-bg{
        display: none;
  
}
.First-Page{
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    perspective: 10px;
    background: linear-gradient(128deg,#000000,#060606);
}
    .nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:90px;
    width: 250px;
    gap: 20px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 20%;
    z-index: 99999;

    
 }
 .Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";

}
.Text-1{
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:20px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Hello-txt-container{
    position: relative;
    margin-left: 45px;
    margin-top: 130px;
    
}
.Hello-txt-container p{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Poiret-one";

}

.Name-txt-container p{
    color: #FFFFFF;
    font-size: 70px;
    font-family: "Cal-sans";

}
.Name-txt{
    margin-left: 47px;
    position: absolute;
    top: 10%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
    
}
.Surname-txt{
    margin-left: 47px;
    position: absolute;
    top: 17%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
    
}

.Icon-container{
  display: none;

}
.Web-txt-container{
    height: 34px;
    width: 135px;
    background-color: rgb(11, 11, 11,0.55);
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 320px;
    left: 42px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

 }
 .UI-txt-container{
    height: 34px;
    width: 135px;
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 321px;
    left: 200px;
    background-color: rgb(11, 11, 11,0.55);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 }
 .Graphic-txt-container{
    height: 34px;
    width: 135px;
    box-shadow: inset 0 0 0 0.5px rgb(255, 255, 255,0.9);
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    top: 370px;
    left: 42px;
     background-color: rgb(11, 11, 11,0.55);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 } 
 
 .Second-page{
    height: 100vh;
    overflow: hidden;
    perspective: 10px;
    background: linear-gradient(128deg,#000000,#060606);
 }
  .my-txt-container{
    position: relative;
    margin-left: 60px;
    margin-top: 130px;
    
 }
 .my-txt-container p{
    color: #FFFFFF;
    font-size: 10px;
    font-family: "Poiret-one";

 }
 .tech-txt-container p{
     color: #FFFFFF;
    font-size: 40px;
    font-family: "Cal-sans";

 }
 .tech-txt-container{
    margin-left: 59px;
    position: relative;
    top: -16%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
 }



}



 

 .Second-page{
    height: 100vh;
    overflow: hidden;
 }


 .my-txt-container{
    position: relative;
    margin-left: 60px;
    margin-top: 130px;
    
 }
 .my-txt-container p{
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Poiret-one";

 }
 .tech-txt-container p{
     color: #FFFFFF;
    font-size: 100px;
    font-family: "Cal-sans";

 }
 .tech-txt-container{
    margin-left: 59px;
    position: relative;
    top: -16%;
     text-shadow: 0 0 5px rgb(38, 38, 38),
               0 0 10px rgb(43, 43, 43),
               0 0 20px rgb(39, 39, 39),
               0 0 40px rgb(44, 44, 44);
 }


 .image-1{
    height: 170px;
    width: 170px;
 }
 .image-2{
    height: 170px;
    width: 170px;
 }
 .image-3{
    height: 190px;
    width: 170px;
 }
 .image-4{
    height: 190px;
    width: 170px;
 }
 .image-5{
    height: 170px;
    width: 170px;
 }
 .image-6{
    height: 170px;
    width: 170px;
 }

.image-7{
    height: 170px;
    width: 170px;
}
.image-8{
    height: 170px;
    width: 170px;
}
.image-9{
    height:170px ;
    width: 170px ;
}
.image-logo-container{
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: -12%;
}
.scroll-content{
    display: inline-block;
    animation: scroll 20s linear infinite;
}

 .scroll-content img { 
      margin: 0 15px;
      border-radius: 12px;
}
@keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
}

