
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg,#000000,#202020);
    overflow: hidden;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100px;
    width: 430px;
    gap: 40px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 37%;
    z-index: 99999;
}

@font-face {
    font-family: "Cal-sans";
    src: url(./Fonts/CalSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poiret-one";
    src: url(./Fonts/PoiretOne-Regular.ttf) format("truetype");
}

.Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";
}
.Text-1{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-1:hover{
    transform: scale(1.2) perspective(500px) rotateY(26deg);
    
}
.Text-2:hover{
    transform: scale(1.2) perspective(500px) rotateY(-26deg);
    
}
.Text-3:hover{
    transform: scale(1.2) perspective(500px) rotateY(36deg);
    
}


.service-txt{
    position: relative;
    left: 2%;
    top: 6%;
}

.service-txt p{
    color: #FFFFFF;
    font-family: "Cal-sans";
    font-size: 80px;
}
.offer-txt{
  position: relative;
  left: 17%;
  top: -5.5%;

}
.offer-txt p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Poiret-one";
}
.Icon-container{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5%;
    gap: 25px;
    left: 85%;
    z-index: 99999;


}
.Gmail-icon img{
    height: 28px;
    width: 38px;
    
}
.Linkedin-icon img{
    height: 32px;
    width: 38px;
}
.Github-icon img{
    position: absolute;
    top: -19%;
    height: 45px;
    width: 45px;
}

.Gmail-icon:hover{
   animation: bounce 0.8s ease-in-out infinite;
}
.Linkedin-icon:hover{
    animation: bounce 0.8s ease-in-out infinite;
}
.Github-icon:hover{
    animation: bounce 0.8s ease-in-out infinite;
}

@keyframes bounce{
    0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-12px); }
}
.toast{
    position: fixed;
    left: 700px;
    visibility: hidden;
    opacity: 0;
    height: 50px;
    width: 150px;
    text-align: center;
    box-shadow: inset 0 0 0 0.1px rgb(255, 255, 255);
    border-radius: 18px;
    font-family: "Cal-sans";
    background: rgb(13, 13, 13,0.6);
    color: #ffffff;
    font-size: 19px;
    border: 1px solid;
    margin-top: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: opacity 0.4s ease-in-out; 
    z-index: 9999;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
 .toast.show {
    visibility: visible;
    opacity: 1;
 }
 .box-container{
    display: flex;
    flex-direction: row;
    gap: 70px;
    position: relative;
    left: 9%;
 }


.web-dev-txt{
     position: relative;
    left: 8%;
    top: 2%;
    width: 180px;
    height: 30px;
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.8);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

}
 .web-dev-txt p{
    position: relative;
    left: 25%;
    top: 12%;
     color: #FFFFFF;
      font-family: "Cal-sans";
      font-size: 15px;
 }
.Web-icon{
     position: relative;
    top: -112%;
    left: 5%;
    height: 27px;
    width: 27px;
}
.glow-box-web{
    position: absolute;
    top: -2.7%;
    left: 5%;
    height: 15px;
    width: 15px;
    background-color: #AE7100;
    filter: blur(20px);
}

.web-txt{
    position: relative;
    color: #FFFFFF;
     font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 19px;
    top: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
}






 .UI-design-txt{
    position: relative;
    left: 8%;
    top: 2%;
    width: 160px;
    height: 30px;
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.8);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

 }
 .UIUX-icon{
    position: relative;
    top: -117%;
    left: 2%;
    height: 29px;
    width: 29px;
 }
.UI-txt{
    position: relative;
    color: #FFFFFF;
     font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 19px;
    top: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
}



 .UI-design-txt p{
    position: relative;
    left: 25%;
    top: 12%;
     color: #FFFFFF;
      font-family: "Cal-sans";
      font-size: 15px;
 }
 .glow-box-ui{
    position: absolute;
    top: -6.7%;
    left: 5%;
    height: 15px;
    width: 15px;
    background-color: #1ABCFE;
    filter: blur(20px);
 }

 .Sport-design-txt{
     position: relative;
    left: 8%;
    top: 2%;
    width: 160px;
    height: 30px;
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.8);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
.Sport-icon{
     position: relative;
    top: -110%;
    left: 5%;
    height: 27px;
    width: 27px;
}
.sport-txt{
     position: relative;
    color: #FFFFFF;
     font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 19px;
    top: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
 .Sport-design-txt p{
    position: relative;
    left: 25%;
    top: 12%;
     color: #FFFFFF;
      font-family: "Cal-sans";
      font-size: 15px;
 }
 .glow-box-sport{
    position: absolute;
    top: -6.7%;
    left: 5%;
    height: 15px;
    width: 15px;
    background-color: #D90000;
    filter: blur(20px);
 }

 .Event-design-txt{
    position: relative;
    left: 8%;
    top: 2%;
    width: 160px;
    height: 30px;
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.8);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
 }
 .Event-design-txt p{
    position: relative;
     left: 25%;
    top: 17%;
     color: #FFFFFF;
      font-family: "Cal-sans";
      font-size: 15px;
 }
 .Event-icon{
    position: relative;
    top: -100%;
    left: 5%;
    height: 20px;
    width: 20px;
 }
 .glow-box-event{
     position: absolute;
    top: 15%;
    left: 5%;
    height: 15px;
    width: 15px;
    background-color: #E518DE;
    filter: blur(10px);
 }
 .Event-txt{
     position: relative;
    color: #FFFFFF;
     font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 19px;
    top: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
 }


 .Web-dev-box{
    width: 240px;
    height: 320px;
    background: linear-gradient(90deg,#000000,#0e0e0e);
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
 }

 .Sport-design-box{
    width: 240px;
    height: 320px;
    background: linear-gradient(65deg,#000000,#0e0e0e);
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
 }
 .UI-design-box{
    width: 240px;
    height: 320px;
    background: linear-gradient(100deg,#000000,#0e0e0e);
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;

 }
 .Event-design-box{
    width: 240px;
    height: 320px;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    background: linear-gradient(120deg,#000000,#0e0e0e);
    box-shadow: inset 0 0 0 0.5px #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
 }
 .Event-design-wrapper {
  perspective: 1000px; /* Controls depth */
  width: 240px;
  height: 320px;
}
.Event-design-wrapper:hover .Event-design-box {
  transform: rotateY(180deg); /* Flip effect */
}
.Event-front,
.Event-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden; /* Hide when flipped */
}

.Event-Image-glow{
    position:absolute;
    width: 105px;
    height: 90px;
    background-color: rgb(229, 24, 222,0.6);
    filter: blur(30px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


.Event-Image{
    height: 80px;
    width: 95px;
}


.Event-front {
    display: flex;
    justify-content: center;
    align-items: center;
  background: linear-gradient(120deg,#000000,#0e0e0e);
}

.Event-back {
  background: linear-gradient(120deg,#1a1a1a,#000000);
  transform: rotateY(180deg);
}

.UI-design-wrapper{
  perspective: 1000px; /* Controls depth */
  width: 240px;
  height: 320px;
}
.UI-design-wrapper:hover .UI-design-box{
    transform: rotateY(180deg); 
}
.UI-front,
.UI-back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden;
}

.UI-Image{
    height: 100px;
    width: 100px;
}
.Image-UI-glow{
    position: absolute;
    background-color: rgb(26, 188, 254,0.5);
    width: 95px;
    height: 85px;
    filter: blur(30px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


.UI-front{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#000000,#0e0e0e);
}
.UI-back{
   background: linear-gradient(120deg,#1a1a1a,#000000);
   transform: rotateY(180deg);
}
.Sport-design-wrapper{
  perspective: 1000px; /* Controls depth */
  width: 240px;
  height: 320px;
}
.Sport-design-wrapper:hover .Sport-design-box{
     transform: rotateY(180deg); 
}
.Sport-front,
.Sport-back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden;
}

.Image-Sport{
    width: 100px;
    height: 90px;
}
.Image-Sport-glow{
    position: absolute;
    background-color: rgb(217, 0, 0,0.6);
    filter: blur(30px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    height: 100px;
    width: 90px;
}
.Sport-front{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#000000,#0e0e0e);
}
.Sport-back{
    background: linear-gradient(65deg,#000000,#0e0e0e);
    transform: rotateY(180deg);
}
.Web-dev-wrapper{
  perspective: 1000px; /* Controls depth */
  width: 240px;
  height: 320px;  
}
.Web-dev-wrapper:hover .Web-dev-box{
    transform: rotateY(180deg); 
}
.Web-front,
.Web-back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden;
}


.Image-HTML{
  height: 100px;
  width: 100px;
}
.Image-HTML-glow{
    position: absolute;
    height: 100px;
    width: 90px;
    background-color: rgb(174, 113, 0,0.5);
    filter: blur(30px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.Web-front{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg,#000000,#0e0e0e);
}
.Web-back{
    background: linear-gradient(90deg,#000000,#0e0e0e);
    transform: rotateY(180deg);
}
