body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg,#000000,#202020);
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100px;
    width: 430px;
    gap: 40px;
    position: absolute;
    background-color: #161616;
    top: -5.6%;
    border-radius: 30px;
    left: 37%;
    z-index: 99999;
}

@font-face {
    font-family: "Cal-sans";
    src: url(./Fonts/CalSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poiret-one";
    src: url(./Fonts/PoiretOne-Regular.ttf) format("truetype");
}

.Nav-link{
    margin-top: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Cal-sans";
}
.Text-1{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.Text-2{
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-3{
    font-size:27px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.Text-1:hover{
    transform: scale(1.2) perspective(500px) rotateY(26deg);
    
}
.Text-2:hover{
    transform: scale(1.2) perspective(500px) rotateY(-26deg);
    
}
.Text-3:hover{
    transform: scale(1.2) perspective(500px) rotateY(36deg);
    
}


.service-txt{
    position: relative;
    left: 2%;
    top: 6%;
}

.service-txt p{
    color: #FFFFFF;
    font-family: "Cal-sans";
    font-size: 80px;
}
.offer-txt{
  position: relative;
  left: 17%;
  top: -5.5%;

}
.offer-txt p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Poiret-one";
}
.Icon-container{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5%;
    gap: 25px;
    left: 85%;
    z-index: 99999;


}
.Gmail-icon img{
    height: 28px;
    width: 38px;
    
}
.Linkedin-icon img{
    height: 32px;
    width: 38px;
}
.Github-icon img{
    position: absolute;
    top: -19%;
    height: 45px;
    width: 45px;
}

.Gmail-icon:hover{
   animation: bounce 0.8s ease-in-out infinite;
}
.Linkedin-icon:hover{
    animation: bounce 0.8s ease-in-out infinite;
}
.Github-icon:hover{
    animation: bounce 0.8s ease-in-out infinite;
}

@keyframes bounce{
    0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-12px); }
}
.toast{
    position: fixed;
    left: 700px;
    visibility: hidden;
    opacity: 0;
    height: 50px;
    width: 150px;
    text-align: center;
    box-shadow: inset 0 0 0 0.1px rgb(255, 255, 255);
    border-radius: 18px;
    font-family: "Cal-sans";
    background: rgb(13, 13, 13,0.6);
    color: #ffffff;
    font-size: 19px;
    border: 1px solid;
    margin-top: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: opacity 0.4s ease-in-out; 
    z-index: 9999;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
 .toast.show {
    visibility: visible;
    opacity: 1;
 }